CompileFlags:
  Add:
    [
      "-I/home/chunxy/repos/Compass/include",
      "-I/home/chunxy/repos/Compass/thirdparty/faiss",
      "-I/home/chunxy/repos/Compass/thirdparty/btree",
    ]
Diagnostics:
  Suppress:
    - old-style-cast
    - sign-conversion
