.vscode/
.cache/
.venv/
__pycache__/
build/
thirdparty/*
!thirdparty/btree
*.csv
*.bkp
*.jpg
/*.sh
/*.py
src/tests/test_rng/
src/tests/test_hnsw/
src/tests/test_reentrant_hnsw/
scratches/
camera*/
# Symbolic links
logs*
data
checkpoints
runs
figures*/
cherrypick*/
flame/